<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>LinkClipper</string>
    <key>CFBundleGetInfoString</key>
    <string>LinkClipper 1.0</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleIconFile</key>
    <string>app</string>
   	<key>CFBundleIdentifier</key>
	  <string>com.robertovg.LinkClipperWithPassthrough</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>HTTP URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>http</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>Secure HTTP URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>https</string>
        </array>
      </dict>
    </array>
    <key>LSEnvironment</key>
    <dict>
      <key>URL</key>
      <string>$1</string>
    </dict>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleExecutablePath</key>
    <string>$EXECUTABLE_PATH/../MacOS/LinkClipper</string>
    <key>NSAppleScriptEnabled</key>
    <true/>
  </dict>
</plist>
